==
<?php
function onStart() {
    $this['isLoggedIn'] = !!BackendAuth::getUser();
}
?>
==
<div class="my-container">

    <header class="my-header mb-2">
        <h1>
            {{ post.title }}
        </h1>
        {% if isLoggedIn %}
            <a href="/-114514/tailor/entries/blog_post/{{ post.id }}" target="_blank">
                <button class="btn btn-sm btn-outline-secondary">
                    Edit
                </button>
            </a>
        {% endif %}
    </header>

    <div class="article-info-box mb-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-0">
                <li class="breadcrumb-item">
                    <a href="/">香干筆記</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <strong>{{ post.title }}</strong>
                </li>
            </ol>
        </nav>
    </div>

    <div class="article-info-box mb-2">
        {% partial 'blog/post_created_at' post=post %}
    </div>

    <article class="my-content">
        {% if post.entry_type == 'markdown' %}
            {{ post.content|md }}
        {% else %}
            {{ post.content|raw }}
        {% endif %}
    </article>

    {% if post.categories|length > 0 %}
        <div class="article-info-box mb-2">
            {% partial 'blog/post_categories' post=post %}
        </div>
    {% endif %}

</div>