[collection categories]
handle = "Blog\Category"
==
<?php
function onStart() {
    $this['isLoggedIn'] = !!BackendAuth::getUser();
}
?>
==
<div class="d-flex flex-wrap mr-n1 mb-n1">
    {% if category_selected is empty %}
        <a href="#" class="btn btn-secondary btn-sm me-1 mb-1" style="min-width: 7rem;">
            所有分類
        </a>
    {% else %}
        <a href="/" class="btn btn-outline-secondary btn-sm me-1 mb-1" style="min-width: 7rem;">
            所有分類
        </a>
    {% endif %}
    {% for category in categories %}
        {% if category_selected == category.slug %}
            <a href="#" class="btn btn-secondary btn-sm me-1 mb-1" style="min-width: 7rem;">
                {{category.title}}
            </a>
        {% else %}
            <a href="/category/{{category.slug}}" class="btn btn-outline-secondary btn-sm me-1 mb-1" style="min-width: 7rem;">
                {{category.title}}
            </a>
        {% endif %}
    {% endfor %}
</div>