description = "App Header"
==
<div>
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container-fluid">

            <a class="navbar-brand" href="/">香干筆記</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon navbar-light"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">首頁</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">關於</a>
                </li>
            </ul>

            <form class="d-flex" role="search" action="/search">
                <input class="form-control border-light bg-dark text-light"
                    type="search" name="q" placeholder="搜尋" aria-label="搜尋"
                />
                <button class="btn btn-outline-light text-nowrap ms-2" type="submit">
                    搜尋
                </button>
            </form>

          </div>
        </div>
    </nav>
</div>