.btn-block{
    width: 100%;
}
.btn-wide{
    width: 100%;
    max-width: 20rem;
}

.ml-n1{ margin-left: -0.25rem!important }
.mr-n1{ margin-right: -0.25rem!important }
.mt-n1{ margin-top: -0.25rem!important }
.mb-n1{ margin-bottom: -0.25rem!important }

.ml-n2{ margin-left: -0.5rem!important }
.mr-n2{ margin-right: -0.5rem!important }
.mt-n2{ margin-top: -0.5rem!important }
.mb-n2{ margin-bottom: -0.5rem!important }